#pane_top {
    -fx-background-color: #769ECB;
}

#label_title {
}

#anchorpane_center, #anchorpane_left, #anchorpane_right {
    -fx-border-style: dotted;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #C8D6B9;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #C8D6B9;
}

#btn_add {
    -fx-background-color: #ADC4CE;
}

#btn_update {
    -fx-background-color: #ADC4CE;
}

#btn_delete {
    -fx-background-color: #ADC4CE;
}

.jfx-button {
    -fx-opacity: 0.9;
    -fx-text-fill: white;
}

.jfx-button:hover {
    -fx-opacity: 1;
}