#pane_top {
    -fx-background-color: #FFEADC;
}

#label_title {
}

#anchorpane_center, #anchorpane_left, #anchorpane_right {
    -fx-border-style: dotted;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #FFEADC;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #FFEADC;
}

#btn_new {
    -fx-background-color: #B6CCD6;
}

#btn_save {

    -fx-background-color: #ABC5D1;
}

#btn_update {
    -fx-background-color: #A1BDCB;
}

#btn_delete {
    -fx-background-color: #96B6C5;
}

.jfx-button {
    .fx-opacity: 0.9;
    .fx-text-fill: white;
}

.jfx-button:hover {
    -fx-opacity: 1;
}